<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Password Store</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<img src="/images/logo.png" alt="Logo" width="1024">
<h1>Password Store</h1>

<form action="/addRecord" method="post">
  <label>Title:</label>
  <label>
    <input type="text" name="title" required>
  </label><br>

  <label>Username:</label>
  <label>
    <input type="text" name="username" required>
  </label><br>

  <label>Password:</label>
  <label>
    <input type="password" name="password" required>
  </label><br>

  <label>URL:</label>
  <label>
    <input type="text" name="url">
  </label><br>

  <label>Email:</label>
  <label>
    <input type="email" name="email">
  </label><br>

  <label>Notes:</label>
  <label>
    <textarea name="notes"></textarea>
  </label><br>

  <button type="submit">Add Record</button>
</form>

<p th:text="${message}"></p>

<a href="/viewPasswordRecord">View All Records</a> |
<a href="/searchPasswordRecord">Search Record</a>
</body>
</html>
