<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Search Password Record</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<img src="/images/logo.png" alt="Logo" width="100">
<h1>Search Password Record</h1>

<form action="/searchPasswordRecord" method="get">
    <label>Title:</label>
    <label>
        <input type="text" name="title" required>
    </label>
    <button type="submit">Search</button>
</form>

<table th:if="${results}">
    <tr th:each="record : ${results}">
        <td th:text="${record.title}"></td>
        <td th:text="${record.username}"></td>
        <td th:text="${record.password}"></td>
    </tr>
</table>

<p th:if="${results.isEmpty()}">Record Not Found!</p>

<a href="/">Back to Home</a>
</body>
</html>
